
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Articles</h1>
      <% @articles.each do |article| %>
        <p><strong> <%= article[:title]%> </strong> : <%= article[:content]%> <%= link_to "+", article_path(article) %></p>
        <%= link_to "Delete this task", article_path(article),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
</div>

<br>


